.form-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 10px -8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #2196F3;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0b7dda;
}

.result {
  color: rgb(14, 48, 158);
  font-size: 0.9em;
  text-align: center;
}

.error {
  color: red;
  font-size: 0.9em;
  text-align: center;
}

.rule-string {
  font-size: 0.9em;
  color: #555;
  margin-top: 4px;
}
